<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" href="static/favicon.png" type="image/x-icon">
    <title>Dr.AI: Check Your Health</title>
</head>

<body>
    <video autoplay muted loop id="video-background">
        <source src="static/heartbeat(blue).mp4" type="video/mp4">
    </video>

    <div class="banner-area">
        <header>
            <div class="menu">
                <ul>
                    <li><a href="/">Homepage</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/symptoms">Symptoms</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </header>
        <div class="banner-text">
            <h1>CHECK YOUR HEALTH</h1>
            <form action="/" method="post">
                <input type="text" name="Name" placeholder="Name" required>
                <input type="number" name="Age" placeholder="Age" required>
                <input type="text" name="Symptom1" placeholder="Symptom 1">
                <input type="text" name="Symptom2" placeholder="Symptom 2">
                <input type="text" name="Symptom3" placeholder="Symptom 3">
                <input type="text" name="Symptom4" placeholder="Symptom 4">
                <button class="btn btn-white" type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
